* {
  background-color: #242424;
  color: #C0BABA;
}
ol {
  list-style: none;
  margin: 0 auto;
}
.row {
  margin: 0 2%;
  padding: 0 4% !important;
}
.fa-search {
  background-color: inherit !important ;
  color:black !important ;
}

img{
  width: 100%;
}
b, h4 {
  color: red;
  text-align: justify;
  text-justify: inter-word !important;
}
#title {
  font-size: 2.1em;
}